@import "../../app.scss";

.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: #dbeaff;
  position: relative;
  background: url("./exp6.png") no-repeat left top;
  background-size: 70rem;
  background-repeat: no-repeat;
  background-position: cover;


  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;

    .textContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 40px;

      @include mobile {
        height: 50%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
        background: url("./exp6.png");
        background-repeat: no-repeat;
        background-position: cover;
        background-size: 20rem;
      }

      h2 {
        font-size: 30px;
        color: #2e2f33;
        letter-spacing: 10px;
      }

      h1 {
        font-size: 88px;

        @include mobile {
          font-size: 36px;
        }
      }

      .buttons {
        margin-right: 25rem;

        button {
          padding: 20px;
          border: 1px solid #2e2f33;
          border-radius: 10px;
          background-color: transparent;
          color: #2e2f33;
          margin-right: 20px;
          cursor: pointer;
          font-weight: 300;
          font-size: 1rem;
          margin-top: 42rem;
        }
      }

      img {
        width: 50px;
      }
    }
  }

  .imageContainer {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    @include mobile {
      height: 50%;
      width: 100%;
      top: unset;
      bottom: 0;
    }

    img {
      margin-top: 10rem;
      width: 100%;
      height: 80%;
      object-fit: cover;
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #a2c7ff;
    width: 50%;
    font-weight: bold;
  }

  .imageline {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  margin-left: 25rem;
  max-width: 70rem;

  h1 {
    font-size: 4rem;
  }

  h2 {
    margin-top: 1rem;
    font-size: 1.6rem;
    color: #2e2f33;
  }

  p {
    margin-top: 2rem;
    color: #2e2f33;
  }
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  font-size: 1.5rem;
  flex-direction: column;

  .paragrafos-pequenos {
    font-size: 0.9rem;
    color: #2e2f33;
  }

  .paragrafos-grandes {
    font-size: 1.1rem;
    color: #2e2f33;
  }

  h4 {
    font-size: 1.2rem;
    color: #2e2f33;
  }
  span {
    font-size: 2rem;
  }
}
